html {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #2e2925; }

body {
  margin: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

ul {
  padding-left: 0;
  margin: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.up-index {
  position: relative;
  z-index: 2; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-middle {
  vertical-align: middle; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-fill {
  color: #fff;
  background-color: #2e2925; }

.form-group {
  display: inline-block;
  padding: 3px 3px 3px 12px;
  background-color: #eff0f0;
  border-radius: 4px; }

.form-input {
  display: inline-block;
  border: 0;
  height: 24px;
  min-width: 300px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  outline: none; }

.landing-page__container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.header__logo {
  padding: 15px 0;
  margin: 0 30px;
  max-width: 100px; }
.header__nav {
  float: right;
  padding: 40px 0;
  margin: 0 30px;
  font-family: Questrial, "Helvetica Neue", Arial, sans-serif; }
.header__item {
  display: inline-block;
  padding: 4px 0; }
  .header__item a {
    display: block;
    padding: 10px; }
.header__item ~ .header__item {
  position: relative; }
  .header__item ~ .header__item:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 13px;
    display: inline-block;
    width: 2px;
    height: 14px;
    background-image: linear-gradient(to right, #f2d8b7, #dabf99); }

.banner__title {
  margin: 30px auto 50px;
  font-family: Questrial, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold; }
  .banner__title span {
    color: #999; }
.banner__subtitle {
  margin: 30px auto;
  font-size: 20px;
  font-family: Questrial, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px; }

.landing {
  padding: 120px 0; }
  .landing .clear {
    display: inline-block; }
  .landing .form-group {
    background-color: #2e2925; }
  .landing .form-input {
    width: 400px;
    height: 20px;
    color: #fff;
    background-color: transparent; }
    .landing .form-input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff; }
    .landing .form-input::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    .landing .form-input:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff; }
    .landing .form-input:-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }
  .landing .btn {
    min-width: 100px;
    font-size: 16px;
    color: #2e2925;
    font-weight: 300;
    background-image: linear-gradient(to right, #f2d8b7, #dabf99); }
  .landing__container {
    padding: 30px 0; }
  .landing__label {
    font-size: 16px;
    font-family: Questrial, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px; }
  .landing__form {
    margin: 15px 0 45px; }
  .landing__form-message {
    text-align: left;
    margin: 0 auto;
    max-width: 548px; }
    .landing__form-message .response {
      margin-top: 7px; }
    .landing__form-message #mce-error-response {
      color: #a94442; }
    .landing__form-message #mce-success-response {
      color: #3c763d; }

.social-icons {
  padding: 30px 0 20px; }
  .social-icons__item {
    display: inline-block; }
    .social-icons__item a {
      display: block;
      margin: 0 3px; }
    .social-icons__item img {
      max-height: 26px; }

#particles-js {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.divider__container {
  text-align: center; }
  .divider__container img {
    max-width: 24px; }
.divider__line {
  display: inline-block;
  margin: 0 auto;
  width: 62px;
  height: 2px;
  background-image: linear-gradient(to right, #f2d8b7, #dabf99); }

.jquery-modal.blocker {
  z-index: 1700; }

.modal img {
  max-width: 100%; }

@media (max-width: 767px) {
  html,
  body {
    height: 100%; }

  .header__logo {
    padding: 10px 0;
    margin: 0;
    max-width: 45px; }
  .header__nav {
    padding: 5px 0;
    margin: 4px -10px; }

  .landing-page__container {
    height: 100%;
    background-size: cover; }

  .banner__title {
    margin: 30px 0;
    font-size: 20px; }
  .banner__subtitle {
    margin: 10px 0;
    font-size: 16px; }

  .landing {
    padding: 40px 10px;
    margin: 10% 0; }
    .landing .btn {
      font-size: 12px;
      min-width: 70px; }
    .landing .form-group {
      padding: 5px; }
    .landing .form-input {
      min-width: 0;
      width: 256px;
      font-size: 12px; }
    .landing__container {
      padding: 20px 0; }
    .landing__label {
      font-size: 16px; }
    .landing__form {
      margin-bottom: 30px; }

  .social-icons {
    padding: 10px 0; } }
.loading {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 3000; }
  .loading img {
    position: absolute;
    top: 50%;
    max-width: 100px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%); }
  .loading.hidden {
    display: none !important; }

@media (max-width: 413px) {
  .landing .form-input {
    width: 243px; } }
@media (max-width: 374px) {
  .landing {
    margin: 0; }
    .landing .form-input {
      width: 187px; } }

/*# sourceMappingURL=main.css.map */
